.heading{
    font-size: 25px;
    margin-top:0;
    width: 100%;
}
#not{
font-size: 15px;
color: black;
}

#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: rgb(88, 88, 88);
    line-height: 3;
    color: white;
}


canvas{
    border: solid 3px rgb(184, 183, 183) ;
    box-shadow: 5px 5px 9px grey;
    border-radius: 10px;
    
}
#vid{
 transform: scaleX(-1); 
}